@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

/* --------------------
  default css
-------------------- */

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* ---------- fontawesome icon size ---------- */

.icon__size14 {
  font-size: 14px;
}

.icon__size28 {
  font-size: 28px;
}

/* --------------------
  header css
-------------------- */

/* ---------- TopBar ---------- */

.topbar {
  background-color: #f5f5f5;
}

.topbar__menu {
  display: flex;
  justify-content: flex-end;
}

.topbar__menu > li {
  padding: 10px 12px;
}

.topbar__menu a {
  font-size: 12px;
}

/* ---------- SearchBar ---------- */

.searchbar {
  width: 1200px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.searchbar__logo {
  line-height: 100px;
}

.searchbar__logo img {
  vertical-align: middle;
  padding-left: 10px;
}

.searchbar__searchbox {
  width: 650px;
  height: 50px;
  display: flex;
  border: #7fad39 2px solid ;
  position: relative;
  margin: auto 0;
}

.searchbar__searchbox > input {
  width: 55%;
  border: none;
  outline: none;
  padding: 0 20px;
}

.searchbar__searchbox > button {
  width: 23%;
  color: white;
  background-color: #7fad39;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.searchbar__searchbox svg {
  padding-right: 10px;
}

.searchbar__searchbox__menu {
  width: 22%;
  display: flex;
  border-right: 2px solid #ebebeb;
  cursor: pointer;
  margin: auto 0;
  padding-left: 15px;
}

.searchbar__searchbox__menu__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px;
}

.searchbar__searchbox__menu__icon {
  margin-left: auto;
  margin-right: 5px;
}

.searchbar__searchbox__menu-list {
  display: none;
  width: 144.117px;
  background-color: white;
  border: #ebebeb 2px solid ;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 46px;
  left: -2px;
  z-index: 1;
}

.searchbar__searchbox__menu-list li {
  cursor: pointer;
  padding-left: 15px;
}

.searchbar__searchbox__menu-list li:hover {
  color: #7fad39;
}

.searchbar__menu {
  display: flex;
  justify-content: flex-end;
  margin: auto 0;
}

.searchbar__menu > li {
  padding: 10px 12px;
}

.searchbar__menu svg {
  vertical-align: middle;
}

/* ---------- NavBar ---------- */

.navbar {
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.07);
}

.navbar__menu {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}

.navbar__menu li {
  width: 100%;
  text-align: center;
}

.navbar__menu a {
  display: block;
}

.navbar__menu a:hover {
  color: #7fad39;
}

/* --------------------
  login css
-------------------- */

.login {
  width: 350px;
  margin: 100px auto;
}

.login > input {
  width: 100%;
  height: 45px;
  font-size: 18px;
  margin-top: 20px;
  padding: 0 10px;
}

.login > button {
  width: 100%;
  height: 50px;
  color: green;
  background-color: white;
  border: green 1px solid;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
}

.login__title {
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
}

.login__err-msg {
  text-align: center;
  color: red;
  margin-top: 10px;
}

.login__container {
  display: flex;
  margin-top: 10px;
}

.login__container__auto-login {
  margin-right: auto;
}

.login__container__auto-login > label  {
  display: block;
  font-size: 14px;
  cursor: pointer;
}

.login__container__auto-login input {
  cursor: pointer;
}

.login__container__find-link {
  display: flex;
}

.login__container__find-link > a {
  font-size: 14px;
}

.login__container__find-link > hr {
  height: 14px;
  margin: auto 6px;
}

.login__signup {
  text-align: center;
  margin-top: 15px;
}

.login__signup svg {
  color: gray;
}

/* --------------------
  signup css
-------------------- */

.signup {
  width: 650px;
  margin: 100px auto;
}

.signup span {
  color: red;
}

.signup button {
  width: 100%;
  height: 100%;
  color: green;
  background-color: white;
  border: green 1px solid;
  border-radius: 3px;
  cursor: pointer;
}

.signup__title {
  text-align: center;
  font-size: 30px;
}

.signup__require {
  text-align: end;
  color: gray;
  border-bottom: black 2px solid;
  font-size: 12px;
}

.signup__container {
  display: flex;
  margin: 30px 30px 0;
}

.signup__container__space-01 {
  flex: 2.5;
  margin: auto 0;
}

.signup__container__space-02 {
  flex: 5.5;
  height: 45px;
}

.signup__container__space-02 > input {
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding: 0 10px;
}

.signup__container__space-02 svg {
  margin-right: 6px;
}

.signup__container__space-03 {
  flex: 2;
  margin-left: 10px;
}

.signup__err-msg {
  text-align: center;
  color: red;
  margin-top: 10px;
  margin-bottom: -20px;
}

.signup__btn {
  width: 200px;
  height: 50px;
  margin: 30px auto 0;
}

/* ---------- SignupCheck ---------- */

.signup-check {
  width: 350px;
  height: 150px;
  background-color: white;
  margin: auto auto;
}

.signup-check > button {
  width: 100%;
  height: 50px;
  color: #7fad39;
  background-color: white;
  border: none;
  cursor: pointer;
}

.signup-check__content {
  display: flex;
  height: 100px;
  border-bottom: #7fad39 1px solid;
  align-items: center;
  justify-content: center;
}

.signup-check-background {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* --------------------
  banner css
-------------------- */

.banner {
  overflow: hidden;
  position: relative;
}

.banner > button {
  width: 50px;
  height: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}

.banner__left-btn {
  left: 10%;
}

.banner__right-btn {
  right: 10%;
} 

.banner__container {
  display: flex;
  transition: transform 1.0s;
}

.banner__container img {
  width: 100vw;
  height: 100%;
}

/* --------------------
  product css
-------------------- */

.product {
  width: 280px;
  cursor: pointer;
  margin-top: 30px;
}

.product > img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.product > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product__title {
  font-size: 20px;
}

.product__pirce-info {
  line-height: 110%;
}

.product__pirce-info__sale {
  color: red;
  font-size: 20px;
  margin-right: 6px;
}

.product__pirce-info__price {
  margin-right: 6px;
}

.product__pirce-info__price > b {
  font-size: 20px;
}

.product__pirce-info__origin-price {
  text-decoration: line-through;
  color: gray;
}

.product__review > svg {
  color: red;
  margin-right: 5px;
}

.product__review > span {
  font-size: 14px;
  margin-right: 5px;
}

/* ---------- ProductGroup ---------- */

.product-group {
  margin-bottom: 30px;
}

.product-group__title {
  text-align: center;
  letter-spacing: 10px;
  font-size: 30px;
  margin-top: 10px;
}

.product-group__title--color-green {
  color: #7fad39;
  border-top: #7fad39 2px solid;
}

.product-group__title--color-red {
  color: red;
  border-top: red 2px solid;
}

.product-group__title--color-blue {
  color: blue;
  border-top: blue 2px solid;
}

.product-group__product-more {
  text-align: end;
}

.product-group__product-more > a {
  color: gray;
  font-size: 14px;
}

.product-group__product-more svg {
  font-size: 14px;
}

.product-group__product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ---------- ProductRecommend ---------- */

.product-recommend {
  margin-top: 40px;
}

.product-recommend__subtitle {
  color: #7fad39;
  font-size: 20px;
}

.product-recommend__title {
  font-size: 30px;
  line-height: 100%;
  margin-bottom: 10px;
}

.product-recommend__title > span{
  color: red;
  font-size: 30px;
}