@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

/* --------------------
  default css
-------------------- */

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* ---------- fontawesome icon ---------- */

.icon__size14 {
  font-size: 14px;
}

.icon__size28 {
  font-size: 28px;
}

.icon__size100 {
  font-size: 100px;
}

.icon__size150 {
  font-size: 150px;
}

.icon__color-red {
  color: red;
}

.icon__color-gray {
  color: rgb(181, 181, 181);
}