@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

/* 전역 css 설정 start */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 전역 css 설정 finish */

/* container(width) css 설정 start */

.container {
  /* 미디어쿼리 써야함 */
  width: 1200px;
  margin: 0 auto;
}

.container__sub {
  width: 650px;
  margin: 0 auto;
}

/* container(width) css 설정 finish */

/* flex 설정으로 행(row) 설정 start */

.row {
  display: flex;
}

/* flex 설정으로 행(row) 설정 finish */

/* fontawesome icon size 설정 start */

.icon__size28 {
  font-size: 28px;
}

/* fontawesome icon size 설정 finish */

/* header topbar css 설정 start */

.header__topbar {
  display: flex;
  background-color: #f5f5f5;
}

.header__topbar__menu {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}

.header__topbar__menu li {
  padding: 10px 12px;
}

/* header topbar css 설정 finish */

/* header searchbar css 설정 start */

.header__searchbar {
  height: 100px;
}

.header__searchbar__logo {
  flex: 1;
  line-height: 100px;
}

.header__searchbar__logo img {
  vertical-align: middle;
  padding: 0 10px;
}

.header__searchbar__searchbox {
  flex: auto;
  margin: auto 0;
  display: flex;
  font-size: 16px;
  border: 2px solid #7fad39;
  height: 50px;
  position: relative;
}

.header__searchbar__searchbox input {
  border: none;
  outline: none;
  font-size: 16px;
  flex: auto;
  padding: 0 20px;
}

.header__searchbar__searchbox button {
  background-color: #7fad39;
  color: white;
  border: none;
  cursor: pointer;
  flex: 1;
}

.header__searchbar__searchbox button svg {
  padding-right: 10px;
}

.header__searchbar__searchbox__dropmenu {
  border-right: 2px solid #ebebeb;
  line-height: 46px;
  flex: 1;
  display: flex;
}

.header__searchbar__searchbox__dropmenu a {
  flex-grow: 1;
  padding-left: 20px;
  position: relative;
}

.header__searchbar__searchbox__dropmenu a svg {
  position: absolute;
  right: 20px;
  top: 15px;
}

.header__searchbar__searchbox__droplist {
  display: none;
  background-color: white;
  position: absolute;
  top: 46px;
  left: -2px;
  z-index: 1;
  border: 2px solid #ebebeb;
  width: 139.817px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}

.header__searchbar__searchbox__droplist ul {
  padding: 8px 0;
}

.header__searchbar__searchbox__droplist a {
  display: flex;
  width: 100%;
  padding-left: 20px;
}

.header__searchbar__searchbox__droplist a:hover {
  color: blue;
  text-decoration: underline;
}

.header__searchbar__menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin: auto 0;
}

.header__searchbar__menu li {
  padding: 10px 12px;
}

/* header searchbar css 설정 finish */

/* signup css 설정 start */

.signup__title {
  font-size: 30px;
  margin: 10% 0 5%;
  text-align: center;
}

.signup__comment {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  color: rgb(102, 102, 102);
  border-bottom: black 2px solid;
}

.signup__comment__mark {
  color: red;
}

.signup__container {
  display: flex;
  padding: 5% 5% 0;
}

.signup__container__info {
  flex: 2.5;
  margin: auto 0;
  font-size: 16px;
}

.signup__container__inp {
  flex: 5.5;
  height: 45px;
}

.signup__container__inp input {
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding: 0 3%;
}

.signup__container__inp button {
  width: 100%;
  height: 100%;
  color: green;
  background-color: white;
  border: green 1px solid;
  border-radius: 3px;
  cursor: pointer;
}

.signup__container__inp svg {
  margin-right: 2%;
}

.signup__container__btn {
  margin-left: 10px;
  flex: 2;
}

.signup__container__btn button{
  width: 100%;
  height: 100%;
  color: green;
  background-color: white;
  border: green 1px solid;
  border-radius: 3px;
  cursor: pointer;
}

.signup__btn {
  text-align: center;
  margin: 5% 0 0;
}

.signup__btn button {
  width: 30%;
  height: 50px;
  color: green;
  background-color: white;
  border: green 1px solid;
  border-radius: 3px;
  cursor: pointer;
}

/* signup css 설정 finish */

/* navbar css 설정 start */

.header__navbar {
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.07);
}

.header__navbar__menu {
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  height: 50px;
}

.header__navbar__menu li {
  width: 100%;
  text-align: center;
}

.header__navbar__menu a {
  display: block;
}

.header__navbar__menu a:hover {
  color: #7fad39;
  text-decoration: underline;
}

/* navbar css 설정 finish */