/* --------------------
  mypage css
-------------------- */

/* ---------- SideNavBar.js ---------- */

.sidenavbar {
  width: 250px;
}

.sidenavbar > h2 {
  font-size: 30px;
}

.sidenavbar__menu {
  border: 1px solid #e7e7e7;
  border-bottom: none;
  margin-top: 30px;
}

.sidenavbar__menu > li {
  height: 50px;
  border-bottom: 1px solid #e7e7e7;
}

.sidenavbar__menu a {
  display: block;
  line-height: 50px;
  padding-left: 10px;
}

.sidenavbar__menu a:hover {
  color: green;
}

/* ---------- Like.js ---------- */

.like {
  display: flex;
  border-bottom: 1px solid #e7e7e7;
  cursor: pointer;
  padding: 20px 20px;
}

.like > img {
  width: 100px;
  height: 100px;
}

.like__info {
  width: 600px;
  margin: auto 20px;
}

.like__info > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.like__btn {
  margin: auto 0;
}

.like__btn > button {
  width: 120px;
  height: 35px;
  display: block;
  color: green;
  background-color: white;
  border: green 1px solid;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px 0;
}

.like__btn svg {
  margin-right: 10px;
}

/* ---------- Order.js ---------- */

.order {
  border-radius: 10px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 50px;
  padding: 20px;
}

.order > button {
  width: 120px;
  height: 40px;
  color: green;
  background-color: white;
  border: green 1px solid;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 20px;
}

.order__number {
  font-size: 24px;
}

.order__status {
  color: blue;
}

.order__good {
  display: flex;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 20px;
}

.order__good > img {
  width: 100px;
  height: 100px;
}

.order__good__info {
  margin: auto 20px;
}