/* --------------------
  mypage css
-------------------- */

/* ---------- SideNavBar.js ---------- */

.sidenavbar {
  width: 250px;
}

.sidenavbar > h2 {
  font-size: 30px;
}

.sidenavbar__menu {
  border: 1px solid #e7e7e7;
  border-bottom: none;
  margin-top: 30px;
}

.sidenavbar__menu > li {
  height: 50px;
  border-bottom: 1px solid #e7e7e7;
}

.sidenavbar__menu a {
  display: block;
  line-height: 50px;
  padding-left: 10px;
}

.sidenavbar__menu a:hover {
  color: green;
}