/* --------------------
  common css
-------------------- */

/* ---------- Header.js ---------- */

.header__title {
  font-size: 32px;
  text-align: center;
  letter-spacing: 10px;
  margin-top: 60px;
}

.header__menu {
  display: flex;
  position: relative;
  margin-top: 50px;
}

.header__menu button {
  color: green;
  background-color: white;
  border: green 1px solid;
  border-radius: 15px;
  cursor: pointer;
}

.header__menu__sortbox {
  width: 100px;
  display: flex;
  cursor: pointer;
  margin-left: auto;
}

.header__menu__sortbox__icon {
  margin-left: auto;
}

.header__menu__sortbox-list {
  width: 104px;
  background-color: white;
  border: #ebebeb 2px solid;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 30px;
  right: -2px;
  z-index: 1;
}

.header__menu__sortbox-list li {
  cursor: pointer;
}

/* ---------- List.js ---------- */

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 26.5px;
}

.list-page {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

.list-page > ul {
  display: flex;
}

.list-page__num {
  color: gray;
  cursor: pointer;
  margin: 0px 3px;
  padding: 5px 15px;
}

.list-page__num:hover {
  color: black;
  border: green 1px solid;
}

.list-page__num--active {
  color: black;
  border: green 1px solid;
  cursor: pointer;
  margin: 0px 3px;
  padding: 5px 15px;
}

.list-page__icon {
  color: gray;
  cursor: pointer;
  padding: 5px 10px;
}

.list-page__icon:hover {
  color: black;
}

/* ---------- Goods.js ---------- */

.goods {
  width: 280px;
  cursor: pointer;
  margin-top: 30px;
}

.goods > img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.goods > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.goods__title {
  font-size: 20px;
}

.goods__price-info {
  line-height: 110%;
}

.goods__price-info__salePct {
  color: red;
  font-size: 20px;
  margin-right: 6px;
}

.goods__price-info__price {
  margin-right: 6px;
}

.goods__price-info__price > b {
  font-size: 20px;
}

.goods__price-info__origin-price {
  text-decoration: line-through;
  color: gray;
}

.goods__like {
  display: flex;
  align-items: center;
}

.goods__like > div {
  font-size: 14px;
  margin: 0px 5px;
}